body{
    background:grey;
    margin: 0;
}
header{
    background:white;
    padding: 10px;

}

header h1{
    margin: 0px;
}
.post{
    background: white;
    margin-top: 10px;
}
img{
    width:100%;
    height: 100%;
}
.container{
    width: 620px;
    margin: auto;
}
.post p {
    padding: 5px;
}
.post h2{
    padding: 5px;
}
 div.post .post-header div:first-child{
 display: inline-block;
 width: 80%;
 
 }

 div.post .post-header div:last-child{
    display: inline-block;
    
    
 }
 div{
box-sizing: border-box;
 }